[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
psycopg2 = "*"
pillow = "*"
crispy = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "2.7"
