{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block link %}
  <link rel="stylesheet" href="{% static 'css/small_page.css' %}" type="text/css">
{% endblock link %}
  

{% block content %}
  <div class="form-small">
    <h2 class="title">Welcome to the Password Reset Page</h2>
    <p class="subtitle">Forgot your password? <br> Please enter the email address you used to register with us and we will send you a link to reset your password</p>
    <form method="POST">
      {% csrf_token %}
      {{ form | crispy }}
      <button class="btn btn-primary button_100" type="submit">Send email</button>
    </form>
  </div>

  <div class="second-form-small">
    <a href="{% url 'lending_page' %}">Return to home page</a>
  </div>
{% endblock %}
