.books_list{
    margin: 80px auto;
    margin-bottom: 0;
    padding: 30px;
    background-color: rgb(186, 181, 181);
}

h2{
    font-size: 5rem !important;
    font-family: cursive;
    color: black;
}

.books_list form{
    margin: 0 auto;
    margin-bottom: 50px;
}

.books_list form > button{
    width: 200px;
}

.books{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
    
}

.book-list-image{
    margin-top: 30px;
    margin-right: 30px;
    width: 200px;
    height: 300px;
}

.about{
    width: 70%;
}

.about a{
    font-size: 20px;
    text-decoration: underline;
    font-family: cursive;
    font-weight: 600;
    color: black;
}

.about p{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(55, 52, 52);
    font-weight: 400;
    font-size: 18px;
}

.create-book-button{
    display: inline-block;
    position: absolute;
    width: 200px;
    font-size: 22px;
    top: 130px;
    font-family: cursive;
    color: rgb(0, 0, 0);
    font-weight: 600;
    right: 100px;
    text-decoration: none;
    padding: 6px 15px;
    border: 2px solid red;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 7px;
    letter-spacing: 1px;
}

.review-form{
    margin: 100px 0;
    width: 90%;
}

.review-form input{
    font-size: 22px !important;
}

.review-form button {
    font-size: 22px !important;
}