.users_follow_author{
    margin-top: 100px;
}

ol{
    min-height: 400px;
    padding: 20px 0;
    width: 400px;
    margin: 0 auto;
}

li{
    font-size: 24px;
    margin: 15px 0;
    color: red;
    font-weight: 600;
}

ol > li > a{
    color: black !important;
    margin-left: 10px;    
}