{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Login
{% endblock title %}



{% block content %}

    <div class="div row m-3">
        <h2>Login</h2>
        <div class="col-4">
            <form method="POST">{% csrf_token %}
                {{form | crispy}}
                <button type="submit" class="btn btn-primary w-100 mb-3">Log in</button> <span>If you are not registered? <a href="{% url 'users:register' %}">You can register here.</a></span>
                <a href="{% url 'users:reset_password' %}">Forgot password</a>
            </form>
        </div>
    </div>

{% endblock content %}
    