{% extends 'base.html' %}
{% load static %}


{% block link %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
{% endblock link %}
    

{% block title %}
    Profile
{% endblock title %}
    


{% block content %}
    <div class="body">
        <img class="background-image" src="{{ user.profile_picture.url }}" alt="Picture">
        <div class="profile-container">
            <div class="links">
                <a href="{% url 'users:user_follow_author' %}" class="authors"><i class="bi bi-people-fill"></i>Authors</a>
                <a href="#" class="comment"><i class="bi bi-chat-fill"></i>{{comments}}</a>
            </div>
            <div class="main">
                <aside class="aside">
                    <div>
                        <h1>User Configuration</h1>
                    </div>
                    <div>
                        <ul>
                            <a href="#" class="a_active">User Profile</a>
                            <a href="{% url 'users:change_password' %}">Change Password</a>
                            <a href="#">Placement Detail</a>
                            <a href="{% url 'users:profile_edit' %}">Edit Profile</a>   
                        </ul>
                    </div>
                </aside>
                <section class="section">
                    <div class="header">
                        <div class="personal">
                            <div class="image">
                                <img src="{{ user.profile_picture.url }}" alt="Picture">
                            </div>
                            <div class="full-name">
                                <div class="title">{{user.first_name}} {{user.last_name}}</div>
                                <div class="subtitle">Front-end, Backend, Cyber Security Developer, USA</div>                        
                            </div>
                        </div>
                    </div>
                    <div class="personal-data">
                        <h2>Details</h2>
                        <p>First name: </p> <span>{{user.first_name}}</span>
                        <p>Last name: </p> <span>{{user.last_name}}</span>
                        <p>Username: </p> <span>{{user.username}}</span>
                        <p>Email: </p> <span>{{user.email}}</span>

                    </div>
                </section>
            </div>
            <div class="links">
                <a href="#" class="likes"><i class="bi bi-heart-fill"></i></a>
                <a href="#" class="saved"><i class="bi bi-cloud-download-fill"></i></a>
                <a href="#" class="send"><i class="bi bi-send-fill"></i></a>
            </div>
        </div>
    </div>
{% endblock content %}
    
