{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Profile edit
{% endblock title %}


{% block link %}
    <link rel="stylesheet" href="{% static 'css/small_page.css' %}" type="text/css">
{% endblock link %}
    


{% block content %}

    <div class="form-small">
        <h2 class="title">Profile edit</h2>
            <form method="POST" enctype="multipart/form-data">{% csrf_token %} 
                {{form | crispy}}
                
                <button type="submit" class="btn btn-primary w-100 button_100">Changes save</button>
            </form>
    </div>

{% endblock content %}
    