{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Profile edit
{% endblock title %}




{% block content %}

    <div class="div row m-3">
        <h2>Profile edit</h2>
        <div class="col-4">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %} 
                {{form | crispy}}
                
                <button type="submit" class="btn btn-primary w-100">Changes save</button>
            </form>
        </div>
    </div>

{% endblock content %}
    