{% extends 'base.html' %}

{% block title %}
  Landing page
{% endblock %}

{% block content %}
  <div class="landing-container">
    <div class="bg-video-wrap">
      <video src="../static/effects/AdobeStock_88876477_Video_HD_Preview.mov" loop muted autoplay></video>
      <div class="overlay"></div>
      <h1 class="main-title">Welcome to Goodreads!</h1>
      <div class="slide-parent">
        <div class="slider">
          <div class="slide-track">
            <div class="slide">
              <div class="card-header">
                <p>All users</p>
              </div>
              <div class="card-body">
                <span class="number">735</span>
                <span class="icon"><i class="fa-solid fa-eye"></i></span>
              </div>
              <div class="card-footer">
                <a href="#">more...</a>
              </div>
            </div>
            <div class="slide">
              <div class="card-header">
                <p>All books </p>
              </div>
              <div class="card-body">
                <span class="number">243</span>
                <span class="icon"><i class="fa-solid fa-eye"></i></span>
              </div>
              <div class="card-footer">
                <a href="#">more...</a>
              </div>
            </div>
            <div class="slide">
              <div class="card-header">
                <p>All reviews</p>
              </div>
              <div class="card-body">
                <span class="number">734</span>
                <span class="icon"><i class="fa-solid fa-eye"></i></span>
              </div>
              <div class="card-footer">
                <a href="#">more...</a>
              </div>
            </div>
            <div class="slide">
              <div class="card-header">
                <p>All bought books </p>
              </div>
              <div class="card-body">
                <span class="number">341</span>
                <span class="icon"><i class="fa-solid fa-eye"></i></span>
              </div>
              <div class="card-footer">
                <a href="#">more...</a>
              </div>
            </div>
            <div class="slide">
              <div class="card-header">
                <p>All chats users</p>
              </div>
              <div class="card-body">
                <span class="number">531</span>
                <span class="icon"><i class="fa-solid fa-eye"></i></span>
              </div>
              <div class="card-footer">
                <a href="#">more...</a>
              </div>
            </div>
            <div class="slide">
              <div class="card-header">
                <p>All views user</p>
              </div>
              <div class="card-body">
                <span class="number">215</span>
                <span class="icon"><i class="fa-solid fa-eye"></i></span>
              </div>
              <div class="card-footer">
                <a href="#">more...</a>
              </div>
            </div>
            <div class="slide">
              <div class="card-header">
                <p>All views user</p>
              </div>
              <div class="card-body">
                <span class="number">192</span>
                <span class="icon"><i class="fa-solid fa-eye"></i></span>
              </div>
              <div class="card-footer">
                <a href="#">more...</a>
              </div>
            </div>
            <div class="slide">
              <div class="card-header">
                <p>All views user</p>
              </div>
              <div class="card-body">
                <span class="number">192</span>
                <span class="icon"><i class="fa-solid fa-eye"></i></span>
              </div>
              <div class="card-footer">
                <a href="#">more...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
