{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Book detail 
{% endblock title %}
    


{% block link %}
    <link rel="stylesheet" href="{% static 'css/book_detail.css' %}" type="text/css">  
{% endblock link %}
    


{% block content %}
<div class="book_detail">

    <div class="book">

        <div class="image">
            <img class="book-detail-image" src="{{ book.default_picture.url }}" alt="Profile photo">
        </div>
        
        <div class="about">
            <li class="list-unstyled book-detail-title">{{book.title}}</li>
            {% if user.is_authenticated and book_author.author.user == user %}
            <a href="{% url 'books:book_update' book.pk %}" class="delete-button">Edit Book</a>
            <a href="{% url 'books:book_delete' book.pk %}" class="edit-button" >Delete Book</a>
            {% endif %}
            <span class="fst-italic mb-1 book-author">
            {% if user.is_authenticated %}
            {% for book_author in book.bookauthor_set.all %}
                <a href="{% url 'books:author_detail' book_author.author.pk  %}">
                {% if forloop.last %}
                    {{ book_author.author.full_name }}
                {% else %}
                    {{ book_author.author.full_name }},
                {% endif %}
            </a>
            {% endfor %}
            {% else %}
                <a href="{% url 'users:login' %}">Author</a>
            {% endif %}
            <p class="description">{{book.description}}</p>
            </span>
        </div>
        
        {% if user.is_authenticated %}  
        <div class="review-form">
                <form method="POST" action="{% url 'books:review' book.pk %}"> {% csrf_token %}
                    {{ review_form | crispy }}
                    <button class="btn btn-primary w-100"> Add Review</button>
                </form>
        </div>
        {% endif %}

    </div>

    {% if reviews %}
        <h3 class="mb-5 review">Reviews</h3>
    {% endif %}

    <div class="reviews">
        {% for item in reviews %}
            <div class="row mb-5">
                <div class="col-1">
                    <img class="comment-user-image" src="{{ item.user.profile_picture.url }}" alt="Profile Picture">
                </div>
                <div class="col-7">
                    <div>
                        <span><b>
                            {% if item.user.first_name %}  
                                {{ item.user.first_name }}
                            {% else %}
                                {{ item.user.username }}
                            {% endif %}</b></span>
                        <span> in rating <b class="stars">{{item.stars_given}}</b> stars  </span><span>{{item.created_at}}</span>
                        <span>
                            {% if item.user == request.user%}
                                <a href="{% url 'books:review_edit' book.pk item.pk %}" class="m-2">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a href="{% url 'books:review_confirm_delete' book.pk item.pk %}" class="m-2">
                                    <i class="bi bi-trash"></i>
                                </a>
                            {% endif %}
                        </span>
                    </div>
                    <p class="item-comment">{{ item.comment }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
    
