{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block meta %}
    <meta http-equiv="refresh" content="60" />  
    {% comment %}
        10 = 10 soniya
    {% endcomment %}
        
{% endblock meta %}

{% block title %}
    Message To User
{% endblock title %}



{% block link %}

    <link rel="stylesheet" href="{% static 'css/author_message.css' %}" type="text/css">

{% endblock link %}
    


{% block content %}
    <div class="container">
        <div class="user-info">
            <h2 class="user_name">  
            {% if user.first_name is None %}
                {{user.first_name}} {{user.last_name}}
            {% else %}
                {{user.username}} 
            {% endif %}
            </h2>
            <img class="user_image" src="{{ user.profile_picture.url }}" alt="Picture">
        </div>
        <form method="POST" id="message-form">
            {% csrf_token %}
            <input type="text" id="comment_user" name="comment_author">
            <button id="comment_button" type="submit">Yuborish</button>
        </form>

        {% for msg in message %}
        {% if msg.comment_user is not None %}
            <p class="user" style="color: gray;">{{msg.user}}</p>
            <p class="comment" style="color: red;">{{msg.comment_user}}</p>
        {% elif msg.comment_author is not None %}
            <p class="user" style="color: gray; margin-left: 500px;">{{msg.author}}</p>
            <p class="comment" style="color: green; margin-left: 500px;">{{msg.comment_author}}</p>
        {% endif %}
        {% endfor %}
    </div>
{% endblock content %}


<script>

</script>